.hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.darken-grey-text {
    color: #2E2E2E;
}

.disclaimer {
    font-size: 8px;
    color: gray;
    text-align: center;
    margin-bottom: -10px;
  }

  .card .view img {
    height: 200px; /* Ajusta este valor según tus necesidades */
    object-fit: cover;
  }

  .card .card-body {
    min-height: 340px; /* Ajusta este valor según tus necesidades */
  }