.toggle{
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 1;
}
@media screen and (min-width: 768px){
    .toggle{
        display: none;
    }
}
.menu{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s;
    transform: translateY(-100%);

}
.menu__checkbox{
    display: none;
}
.menu__checkbox:checked + .menu{
    transform: translateY(0);
}
.item{
    padding: 10px;
    cursor: pointer;
}
.item:hover{
    background-color: rgb(3, 50, 93);
}
.link{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}
@media screen and (min-width: 768px){
    .menu{
        flex-direction: row;
    }
}
